<link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
<div class="main">
    <div class="modal">
        <div class="modal-content">
            <h1 class="title">{% trans %}SuccessfulActivation{% endtrans %}</h1>
            <p class="text">
                {% trans %}YouCanGoBack{% endtrans %}
            </p>
            <a href="{{ url }}/login">
                <button class="button">{% trans %}Login{% endtrans %}</button>
            </a>
            <p class="text">
                {% trans %}Cheers{% endtrans %}
            </p>
        </div>
    </div>
</div>
