<div>
    <p>{% trans %}Hello{% endtrans %} {{ userName }},</p>
    <p>{% trans %}ActivateAccountRegister{% endtrans %}.</p>
    <p>{% trans %}ActivateLink{% endtrans %}: <a
                href='{{ url }}/api/register/{{ userEmail }}/{{ code }}'>{% trans %}ClickToActivate{% endtrans %}</a>
    </p>
</div>

