<div>
    <p>Witaj {{ userName }},</p>
    <p>Aktywuj konto aby korzstać z serwisu.</p>
    <p>Link aktywacyjny: <a href='{{ url }}/api/register/{{ userEmail }}/{{ code }}'>Kliknij aby aktywować</a></p>
</div>

