
<link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
<div class ="main">
    <div class="modal">
        <div class="modal-content">
            <h1 class="title">Successful activation !</h1>
            <p class="text">
                Now you can go back to page :)
            </p>
            <a href="http://localhost:3000/"><button class="button">Login</button></a>
            <p class="text">
                Cheers!
            </p>
        </div>
    </div>
</div>
