<div>
    <p>{% trans %}Hello{% endtrans %} {{ userName }},</p>
    <p>{% trans %}PasswordReset{% endtrans %}.</p>
    <p>Link: <a href='{{ url }}/user/reset/password/{{ id }}'>{% trans %}ClickToChange{% endtrans %}</a></p>
</div>

