<div>
    <p>Witaj {{ userName }},</p>
    <p>Twoje konto zostało usunięte.</p>
    <p>W razie pytań proszę kierować je do naszego supportu.</p>
    <p>Dziękujemy za korzystanie z naszego serwisu</p>
</div>

