<div>
    <p>{{ 'Hello' | force_translate( lang ) }}: {{ userName }}</p>
    <p>{{ 'AccountDeleteProcessed' | force_translate( lang ) }}.</p>
    <p>{{ 'StayPatient' | force_translate( lang ) }}.</p>
</div>