<div>
    <p>Witaj {{ userName }},</p>
    <p>Otrzymaliśmy prośbę reset hasła twojego konta</p>
    <p>Kliknij w link aby .<a href='{{ url }}/user/reset/password/{{ id }}'>Kliknij aby zmienić</a></p>
</div>

