<div>
    <p>{% trans %}Hello{% endtrans %} {{ userName }},</p>
    <p>{% trans %}AccountIsDeleted{% endtrans %}.</p>
    <p>{% trans %}AskSupport{% endtrans %}.</p>
    <p>{% trans %}ThanksForUsingService{% endtrans %}</p>
</div>

