<div>
    <p>{{ 'Hello' | force_translate( lang ) }}: {{ userName }}</p>
    <p>{{ 'AccountDeleteDecline' | force_translate( lang ) }}.</p>
    <p>{{ 'DetailService' | force_translate( lang ) }}. </p>
</div>